# MongoDB connection string
MONGODB_URI=

PORT=3000

NODE_ENV=development

# JWT Auth
# Secret key for signing JWT tokens. Use a strong random string.
JWT_SECRET=

# JWT token expires in...? (e.g., '1h', '2d', '30m')
JWT_EXPIRY=1h

# Redis Config. Get these from your dashboard

REDIS_HOST=

REDIS_PORT=

REDIS_PWD=
